.App {
  font-family: sans-serif;
  text-align: left;
}
fieldset,
textarea,
button,
.box {
  border-radius: 10px;
}
textarea {
  width: 80%;
  margin: 5px;
  overflow: auto;
  resize: both;
}
#result {
  max-height: 100px;
  overflow: auto;
}
input {
  font-weight: bold;
}
#resultnew {
  white-space: nowrap;
  resize: both;
}
/* new testing */
.box {
  display: flex;
  justify-content: center;
  align-items: left;
  /* align-items: center; */
  flex-direction: column;
  border: 1px solid gray;
  text-align: left;
  padding: 10px;
  /* padding: 90px; */
  box-sizing: border-box;
  margin-bottom: 10px;
  /* overflow: scroll; */
  overflow: hidden;
  position: relative;
  margin: 3px;
}
.box .text {
  text-align: center;
}

.react-resizable {
  position: relative;
  /* position: relative; */
}
.react-resizable-handle {
  /* DO NOT ALTER THIS BLOCK */
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
pre {
  position: relative;
  overflow: scroll;
  /* height: 600px; passing it dynamically.*/
  width: auto;
  text-align: left;
}
