.App {
  font-family: sans-serif;
  text-align: left;
}
fieldset,
button,
.box {
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 5px;
  text-decoration: none;
  margin: 0;
  outline: none;
}

textarea {
  border-radius: 2rem;
  border: 2px solid blue;
  padding-top: 1.6rem;
  padding-bottom: 0;
  padding-left: 1rem;
  /* text-align: center; */
  caret-color: red;
  font-size: 1.2rem;
  /* letter-spacing: 1.4px; */
}

textarea:focus {
  outline: none;
}

button {
  background: coral;
  padding: 10px 18px;
  border: 1px solid brown;
  box-shadow: 7px 7px 5px grey;
}

button:hover {
  background: brown;
  color: white;
  box-shadow: 10px 10px 5px grey;
}

button + button {
  /* I am applying margin left to any button which a preceding direct button to it. Thanks to kevin powell🥰︎ */
  margin-left: 10px;
}

textarea {
  width: 80%;
  margin: 5px;
  overflow: auto;
  resize: both;
}
#result {
  max-height: 100px;
  overflow: auto;
}
input {
  font-weight: bold;
}
#resultnew {
  white-space: nowrap;
  resize: both;
}
/* new testing */
.box {
  display: flex;
  justify-content: center;
  align-items: left;
  /* align-items: center; */
  flex-direction: column;
  border: 1px solid gray;
  text-align: left;
  padding: 10px;
  /* padding: 90px; */
  box-sizing: border-box;
  margin-bottom: 10px;
  /* overflow: scroll; */
  overflow: hidden;
  position: relative;
  margin: 3px;
}
.box .text {
  text-align: center;
}

.react-resizable {
  position: relative;
  /* position: relative; */
}
.react-resizable-handle {
  /* DO NOT ALTER THIS BLOCK */
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
pre {
  position: relative;
  overflow: scroll;
  /* height: 600px; passing it dynamically.*/
  width: auto;
  text-align: left;
}

input {
  border: 2px solid deeppink;
  padding: 5px;
  border-radius: 10px;
}

.spacer1 {
  height: 250px;
}
